@import url("https://fonts.googleapis.com/css2?family=Inter:wght@100..900&family=Libre+Franklin:ital,wght@0,100..900;1,100..900&family=Raleway:ital,wght@0,100..900;1,100..900&family=Source+Code+Pro:ital,wght@0,200..900;1,200..900&display=swap");

.Main-Purpose {
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.Main-Purpose .Main-Purpose-Titles {
  width: 66.66vw;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.Main-Purpose-Titles p:nth-child(3) {
  margin-top: 108px;
  margin-bottom: 244px;
  font-family: Source Code Pro;
  font-size: 18px;
  color: #ccd0cf;
}
.Main-Purpose-Titles p:nth-child(4) {
  font-family: Inter;
  font-size: 60px;
  font-weight: 600;
  text-align: center;
  margin-bottom: 445px;
}
.Main-Purpose-Content {
  background-color: #ffffff;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  padding-top: 126px;
  padding-bottom: 94.8px;
  margin-bottom: 281px;
}
.Main-Purpose-Content .Main-Purpose-Content-Sub {
  width: 66.66vw;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.Main-Purpose-Content-Sub p:nth-child(1) {
  width: 55.41vw;
  font-family: Source Code Pro;
  font-size: 19px;
  font-weight: 600;
  margin-bottom: 215px;
  text-align: center;
}
.Main-Purpose-Content-Sub p:nth-child(2) {
  font-family: Inter;
  font-size: 36px;
  font-weight: 600;
  text-align: center;
  margin-bottom: 201px;
}
.Main-Purpose-Content-Sub p {
  color: #06141b;
}
.Main-Purpose-Content-Sub .eaneer {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 5px;
}
.Main-Purpose-Content-Sub .eaneer p {
  position: relative;
  top: 90px;
  font-family: Inter;
  font-size: 56px;
  font-weight: bold;
}
.Main-Purpose-Content-Sub .logo {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.Main-Purpose-Content-2 {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 108px;
  margin-bottom: 104px;
}
.Main-Purpose-Content-2 p {
  display: flex;
  align-items: center;
  width: 32.916vw;
  height: 220px;
  font-family: Inter;
  font-size: 36px;
  font-weight: 600;
}
.Main-Purpose-Content-2 .image_1{
    width: 23.33vw;
}
.Main-Purpose-Content-3 {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 66.66vw;
  margin-bottom: 132px;
}
.Main-Purpose-Content-3 p {
  text-align: center;
  font-family: Libre Franklin;
  font-size: 64px;
  font-weight: 600;
}

