@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100..900&family=Libre+Franklin:ital,wght@0,100..900;1,100..900&family=Raleway:ital,wght@0,100..900;1,100..900&family=Source+Code+Pro:ital,wght@0,200..900;1,200..900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Rubik:ital,wght@0,300..900;1,300..900&display=swap');

.Main-Strategy{
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.Main-Strategy .Main-Strategy-Titles{
    margin-bottom: 67px;
    width: 42.5vw;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.Main-Strategy-Titles p{
    text-align: center;
}

.Main-Strategy-Titles p:nth-child(3){
    margin-top: 113px;
    font-family: Source Code Pro;
    font-size: 18px;
    color: #CCD0CF;
    margin-bottom: 15px;
}
.Main-Strategy-Titles p:nth-child(4){
    font-family: Libre Franklin;
    font-size: 28px;
    font-weight: 600;
    margin-bottom: 15px;
}
.Main-Strategy-Titles p:nth-child(5){
    font-family: Inter;
    font-size: 18px;
    font-weight: 300;
}
.Main-Strategy-Content .Image-Strategy{
    width: 100%;
}
.Main-Strategy-Content2{
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: #2C4A52;
}
.Main-Strategy-Content2 .Content2-Titles{
    width: 66.68vw;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    margin-top: 37px;
}
.Content2-Titles p:nth-child(1){
    font-family: Source Code Pro;
    font-size: 18px;
    font-weight: bold;
    color: #CCD0CF;
}
.Content2-Titles p:nth-child(2){
    font-family: Inter;
    font-size: 28px;
    font-weight: 600;
}
.Main-Strategy-Content2 .Content2-Content{
    width: 50.625vw;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 158px;
    margin-bottom: 75px;
}
.Content2-Content .Content1{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 25px;
}
.Content1 div{
    border: 1px solid #FFFFFF;
    padding: 12px 11px 32px 12px;
    border-radius: 20px;
    width: 24.68vw;
}
.Content1 div p{
    text-align: center;
}
.Content1 div p:nth-child(1){
    font-family: Source Code Pro;
    font-size: 18px;
    font-weight: 600;
    color: #CCD0CF;
}
.Content1 div p:nth-child(2){
    font-family: Inter;
    font-size: 14px;
    color: #FFFFFF;
}
.Content2{
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 23.38vw;
    height: 14.41vh;
}
.Content2 .Content2-Title{
    width: 13.54vw;
    display: flex;
    justify-content: flex-start;
    margin-bottom: 52px;
}
.Content2-Title p{
    font-family: Source Code Pro;
    font-size: 18px;
    font-weight: bold;
    color: #CCD0CF;
}
.Content2 .Content2-Content{
    width: 21.66vw;
    display: flex;
    align-items: center;
    gap: 158px;
    margin-bottom: 108px;
    padding: 0px 0px 0px 30px ;
}
.Content2 .Content2-Content p{
    font-family: Inter;
    font-size: 28px;
    font-weight: 600;
    text-align: center;
}
.Content2 .Content2-Footer{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-bottom: 32px;
}
.Content2-Footer hr{
    width: 21.66vw;
    height: 4px;
    background-color: #FFFFFF;
    border: none;
}
.Content2-Footer p{
    width: 23.28vw;
    font-family: Inter;
    font-size: 18px;
    font-weight: 600;
    text-align: center;
}
.Content2 .Content2-Button{
    display: flex;
    justify-content: center;
    align-items: center;
}
.Content2 .Content2-Button button{
    padding: 5px 85px;
    background-color: #FFFFFF;
    border-radius: 10px;
    color: #132E35;
    font-family: Raleway;
    font-size: 14px;
    font-weight: 600;
}
.Main-Strategy-Content3{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: white;
    width: 100%;
    color: black;
    margin-bottom: 39px;
}
.Main-Strategy-Content3 .Content3-Holder{
    width: 42.91vw;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 56px;
}
.Content3-Holder .First-Holder{
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 21px;
}
.First-Holder p{
    font-family: Rubik;
    font-size: 36px;
    font-weight: bold;
}
.Content3-Holder .Second-Holder{
    display: flex;
    justify-content: center;
    align-items: stretch;
    gap: 43px;
}
.Second-Holder div{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 40px;
    border: 1px solid #707070;
    border-radius: 20px;
    background-color: #2C4A52;
    color: #FFFFFF;
    padding: 50px 16px;
    width: 21.66vw;
}
.Second-Holder div p:nth-child(1){
    font-family: Inter;
    font-size: 16px;
    font-weight: bolder;
    width: 12.08vw;
    text-align: center;
}
.Second-Holder div p:nth-child(2){
    font-family: Inter;
    font-size: 14px;
    text-align: center;
    width: 20vw;
}
.Content3-Holder .Third-Holder{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-bottom: 64px;
}
.Third-Holder p{
    font-family: Rubik;
    font-size: 18px;
    font-weight: 400;
    margin-bottom: 0;
    text-align: center;
}
.Main-Strategy-Content4{
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 63.4px;
}
.logo-eaneer{
    margin-top: 39px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 39px;
}
