@import url("https://fonts.googleapis.com/css2?family=Inter:wght@100..900&family=Libre+Franklin:ital,wght@0,100..900;1,100..900&family=Raleway:ital,wght@0,100..900;1,100..900&family=Source+Code+Pro:ital,wght@0,200..900;1,200..900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Rubik:ital,wght@0,300..900;1,300..900&display=swap");

.Main-Innovation {
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.Main-Innovation .Main-Innovation-Titles {
  width: 27.82vw;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-bottom: 112px;
  margin-top: 40px;
}
.Main-Innovation-Titles p:nth-child(3) {
  font-family: Source Code Pro;
  font-size: 14px;
  font-weight: 600;
  color: #ccd0cf;
  margin-top: 100px;
  margin-bottom: 3px;
}
.Main-Innovation-Titles p:nth-child(4) {
  font-family: Inter;
  font-size: 28px;
  font-weight: 600;
  margin-bottom: 20px;
}
.Main-Innovation-Titles p:nth-child(5) {
  font-family: Source Code Pro;
  font-size: 18px;
  font-weight: 600;
  color: #ccd0cf;
}
.Main-Innovation-Main1 {
  margin-bottom: 55px;
}
.Main-Innovation-Main1 .image-1 {
  width: 100%;
}
.Main-Innovation-Main2 {
  margin-bottom: 52px;
}
.Main-Innovation-Main3 {
  width: 66.66vw;
  display: flex;
  flex-direction: column;
  justify-content: center;
  /* margin-bottom: 97px; */
}
.Main-Innovation-Main3 .Main-Innovation-Main3-Title {
  margin-bottom: 69px;
  margin-top: 30px;
}
.Main-Innovation-Main3-Title p {
  font-family: Rubik;
  font-size: 55px;
  font-weight: bold;
}
.Main-Innovation-Main3-Content {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 36px;
  margin-bottom: 140px;
}
.Main-Innovation-Main3-Content .Item {
  border-radius: 20px;
  background-color: #2c4a52;
  padding-left: 108px;
  padding-right: 108px;
  padding-top: 18px;
}
.Item p:nth-child(1) {
  font-family: Rubik;
  font-size: 33px;
  font-weight: 500;
}
.Item p:nth-child(2) {
  font-family: Rubik;
  font-size: 22px;
}
.Main-Innovation-Main3-Content .icon {
  margin-top: 97px;
}
.Main-Innovation-Main4 {
  width: 55.42vw;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-bottom: 94px;
}
.Main-Innovation-Main4 p {
  font-family: Rubik;
  font-size: 22px;
  font-weight: bold;
  text-align: center;
  color: #FFFFFF;
}

