@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100..900&family=Libre+Franklin:ital,wght@0,100..900;1,100..900&family=Raleway:ital,wght@0,100..900;1,100..900&family=Source+Code+Pro:ital,wght@0,200..900;1,200..900&display=swap');
.Main-Career{
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.Main-Career-Titles{
    width: 38.4375vw;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-bottom: 92px;
    margin-top: 29px;
}
.Main-Career-Titles p:nth-child(3){
    font-family: Source Code Pro;
    font-size: 18px;
    color: #CCD0CF;
    margin-top: 60px;
    margin-bottom: 15px;
}
.Main-Career-Titles p:nth-child(4){
    font-family: Libre Franklin;
    font-size: 28px;
    font-weight: bold;
    color: #FFFFFF;
    margin-bottom: 15px;
}
.Main-Career-Titles p:nth-child(5){
    font-family: Inter;
    font-size: 16px;
    font-weight: 400;
    color: #FFFFFF;
    margin-top: 15px;
}
.Main-Career-Main1{
    width: 100%;
    margin-bottom: 72px;
}
.Main-Career-Main1 .first-image{
    width: 100%;
}

.Main-Career-Main2{
    margin-bottom: 118.4px;
}
.Main-Career-Main3{
    width: 57.08vw;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 15px;
    margin-bottom: 71px;
}
.Main-Career-Main3 p:nth-child(1){
    font-family: Inter;
    font-size: 28px;
    font-weight: bolder;
}
.Main-Career-Main3 p:nth-child(2){
    font-family: Raleway;
    font-size: 16px;
    font-weight: bolder;
}
.Main-Career-Main-Holder{
    width: 100%;
    background-color: #2C4A52;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-bottom: 111px;
}
.Main-Career-Main4{
    margin-top: 77px;
    margin-bottom: 76px;
    width: 66.66vw;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 232px;
}
.Main-Career-Main4 .First-Div{
    display: flex;
    flex-direction: column;
    gap: 23px;
}
.Main-Career-Main4 .First-Div-Titles p:nth-child(1){
    font-family: Source Code Pro;
    font-size: 18px;
    font-weight: 400;
}
.Main-Career-Main4 .First-Div-Titles p:nth-child(2){
    font-family: Inter;
    font-size: 30px;
    font-weight: bold;
}
.First-Div .First-Div-Content p{
    font-family: Inter;
    font-size: 24px;
}
.Main-Career-Main5{
    width: 66.66vw;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 232px;
    margin-bottom: 73px;
}
.Main-Career-Main5 .Second-Title p:nth-child(1){
    font-family: Source Code Pro;
    font-size: 18px;
    font-weight: 400;
    color: #CCD0CF;
}
.Main-Career-Main5 .Second-Title p:nth-child(2){
    font-family: Inter;
    font-size: 30px;
    font-weight: bold;
}
.Main-Career-Main5 .Second-Content p{
    font-family: Inter;
    font-size: 24px;
    color: #FFFFFF;
}
.Main-Career-Main6{
    margin-bottom: 61.4px;
}
.Main-Career-Main7{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.Main-Career-Main7 p:nth-child(1){
    font-family: Source Code Pro;
    font-size: 18px;
    font-weight: 400;
    color: #CCD0CF;
}
.Main-Career-Main7 p:nth-child(2){
    font-family: Libre Franklin;
    font-size: 64px;
    font-weight: 200;
    color: #FFFFFF;
}
.Main-Career-Main8{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 56.25vw;
    margin-bottom: 93.4px;
}
.Main-Career-Main8 p{
    font-family: Inter;
    font-size: 22px;
}
.Main-Career-Main9{
    margin-bottom: 61px;
}
.Main-Career-Main10{
    width: 27.96vw;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-bottom: 19px;
}
.Main-Career-Main10 p:nth-child(1){
    font-family: Source Code Pro;
    font-size: 18px;
    color: #CCD0CF;
    margin-bottom: 16px;
}
.Main-Career-Main10 p:nth-child(2){
    font-family: Libre Franklin;
    font-size: 62px;
    font-weight: 400;
    color: #FFFFFF;
}
.Main-Career-Main11{
    width: 56.25vw;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 93.4px;
}
.Main-Career-Main11 p{
    font-family: Inter;
    font-size: 23px;
}
.Main-Career-Main12{
    margin-bottom: 61px;
}
.Main-Career-Main13{
    width: 36.14vw;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.Main-Career-Main13 p:nth-child(1){
    font-family: Source Code Pro;
    font-size: 18px;
    font-weight: 400;
    color: #CCD0CF;
}
.Main-Career-Main13 p:nth-child(2){
    font-family: Libre Franklin;
    font-size: 62px;
    font-weight: 400;
    color: #FFFFFF;
}
.Main-Career-Main14{
    width: 66.66vw;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 15px;
    margin-bottom: 34px;
}
.Main-Career-Main14 .Main14-Div{
    border-bottom: 2px solid #FFFFFF;
}
.Main-Career-Main14 .Main14-Title p{
    font-family: Rubik,sans-serif;
    font-size: 28px;
    font-weight: bold;
}
.Main-Career-Main14 .Main14-Content{
    margin-bottom: 74px;
}
.Main-Career-Main14 .Main14-Content p{
    font-family: Libre Franklin;
    font-size: 20px;
}
.Main-Career-Main15{
    width: 66.66vw;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 15px;
    margin-bottom: 130.4px;
}
.Main-Career-Main15 .Main15-Title p{
    font-family: Rubik,sans-serif;
    font-size: 28px;
    font-weight: bold;
}
.Main-Career-Main15 .Main15-Content{
    margin-bottom: 74px;
}
.Main-Career-Main15 .Main15-Content p{
    font-family: Libre Franklin;
    font-size: 20px;
}
.Main-Career-Main16{
    margin-bottom: 66px;
}
.Main-Career-Main17{
    border-radius: 20px;
    background-color: #132E35;
    width: 66.66vw;
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: 42px 108px 57px 108px;
    margin-bottom: 41px;
}
.Main-Career-Main17 p:nth-child(1){
    font-family: Source Code Pro;
    font-size: 18px;
    font-weight: 400;
    margin-bottom: 0px;
}
.Main-Career-Main17 p:nth-child(2){
    font-family: Rubik,sans-serif;
    font-size: 55px;
    font-weight: 400;
    margin-bottom: 17px;
}
.Main-Career-Main17 p:nth-child(3){
    font-family: Inter;
    font-size: 21px;
}
.Main-Career-Main18{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 59px;
    margin-bottom: 66px;
}
.Main-Career-Main18 a{
    text-decoration: none;
    color: #FFFFFF;
    font-family: Rubik,sans-serif;
    font-size: 18px;
    font-weight: 400;
}
.Main-Career-Main18 button{
    padding: 12px 62px 15px 58px;
    border-radius: 20px;
    border: #707070;
    font-family: Rubik,sans-serif;
    font-size: 18px;
    font-weight: 400;
    color: #FFFFFF;
    background-color: #132E35;
}
.Main-Career-Main19{
    margin-bottom: 66.4px;
}
.Fourth-Main {
    width: 68vw;
    display: flex;
    justify-content: space-between; /* Changed to space-between */
    background-color: white;
    color: black;
    padding: 7vh; /* Ensure padding is applied */
    border-radius: 20px;
    box-sizing: border-box; /* Ensure padding is included in the total width/height */
    margin-bottom: 152.9px;
}
.Fourth-Main .Fourth-Main1{
    margin-right: 150px;
    
}
.Fourth-Main1 {
    width: 37vw;
    padding: 1rem; /* Add padding inside Fourth-Main1 if needed */
}
.Fourth-Main1 .content {
    font-family: Raleway;
    font-size: 35px;
    font-weight: bolder;
    width: 485px;
}
.Fourth-Main1 p:nth-child(1) {
    font-family: 'Source Code Pro';
    font-size: 18px;
    color: #69818D;
    margin-bottom: 0;
}
.Fourth-Main2{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-right: 200px;
}
.Fourth-Main input {
    width: 324px;
    padding: 15px;
    border-radius: 7px;
    margin-bottom: 7px;
    text-align: center;
    font-family: Raleway;
    font-size: 18px;
    font-weight: bold;
}
.Fourth-Main button {
    width: 324px;
    padding: 15px;
    background-color: #2C4A52;
    color: white;
    border-radius: 7px;
}