@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100..900&family=Libre+Franklin:ital,wght@0,100..900;1,100..900&family=Raleway:ital,wght@0,100..900;1,100..900&family=Source+Code+Pro:ital,wght@0,200..900;1,200..900&display=swap');
.Main-Career{
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.Main-Career-Titles{
    width: 41.875vw;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-bottom: 92px;
}
.Main-Career-Titles p{
    text-align: center;
}
.Main-Career-Titles p:nth-child(3){
    font-family: Source Code Pro;
    font-size: 18px;
    color: #CCD0CF;
    margin-top: 108px;
    margin-bottom: 15px;
}
.Main-Career-Titles p:nth-child(4){
    font-family: Libre Franklin;
    font-size: 28px;
    font-weight: bold;
    color: #FFFFFF;
    margin-bottom: 15px;
}
.Main-Career-Titles p:nth-child(5){
    font-family: Inter;
    font-size: 18px;
    font-weight: 400;
    color: #FFFFFF;
    margin-top: 15px;
    width: 100%;
}
.Main-Career-Main1{
    width: 100%;
    margin-bottom: 72px;
}
.Main-Career-Main1 .first-image{
    width: 100%;
}

.Main-Career-Main2{
    margin-bottom: 118.4px;
}
.Main-Career-Main3{
    width: 57.08vw;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 15px;
    margin-bottom: 48px;
}
.Main-Career-Main3 p:nth-child(1){
    font-family: Inter;
    font-size: 28px;
    font-weight: bolder;
}
.Main-Career-Main3 p:nth-child(2){
    font-family: Raleway;
    font-size: 19px;
    font-weight: 500;
    text-align: center;
}
.Main-Career-Main-Holder{
    width: 100%;
    background-color: #2C4A52;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-bottom: 111px;
}
.Main-Career-Main4{
    margin-top: 77px;
    margin-bottom: 76px;
    width: 66.66vw;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 324px;
}
.Main-Career-Main4 .First-Div{
    display: flex;
    flex-direction: column;
    gap: 23px;
}
.Main-Career-Main4 .First-Div-Titles p:nth-child(1){
    font-family: Source Code Pro;
    font-size: 18px;
    font-weight: 600;
    color: #CCD0CF;
    margin-bottom: 0px;
}
.Main-Career-Main4 .First-Div-Titles p:nth-child(2){
    font-family: Inter;
    font-size: 30px;
    font-weight: bold;
    margin-top: 0px;
}
.First-Div .First-Div-Content p{
    font-family: Inter;
    font-size: 24px;
    width: 22.5vw;
}
.Main-Career-Main5{
    width: 66.66vw;
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 232px;
    margin-bottom: 73px;
}
.Main-Career-Main5 .Second-Title p:nth-child(1){
    font-family: Source Code Pro;
    font-size: 18px;
    font-weight: 600;
    color: #CCD0CF;
    margin-bottom: 0px;
}
.Main-Career-Main5 .Second-Title p:nth-child(2){
    font-family: Inter;
    font-size: 30px;
    font-weight: bold;
    margin-top: 0px;
}
.Main-Career-Main5 .Second-Content p{
    font-family: Inter;
    font-size: 24px;
    color: #FFFFFF;
    width: 25.26vw;
}
.Main-Career-Main6{
    margin-bottom: 61.4px;
}
.Main-Career-Main7{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.Main-Career-Main7 p:nth-child(1){
    font-family: Source Code Pro;
    font-size: 18px;
    font-weight: 600;
    color: #CCD0CF;
    text-align: center;
    margin-bottom: 0px;
}
.Main-Career-Main7 p:nth-child(2){
    font-family: Libre Franklin;
    font-size: 64px;
    font-weight: 600;
    color: #FFFFFF;
    text-align: center;
    margin-top: 0px;
}
.Main-Career-Main8{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 56.25vw;
    margin-bottom: 61.4px;
}
.Main-Career-Main8 p{
    font-family: Inter;
    font-size: 24px;
    text-align: center;
}
.Main-Career-Main9{
    margin-bottom: 61px;
}
.Main-Career-Main10{
    width: 27.96vw;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-bottom: 19px;
}
.Main-Career-Main10 p:nth-child(1){
    font-family: Source Code Pro;
    font-size: 18px;
    color: #CCD0CF;
    margin-bottom: 16px;
}
.Main-Career-Main10 p:nth-child(2){
    font-family: Libre Franklin;
    font-size: 62px;
    font-weight: 400;
    color: #FFFFFF;
}
.Main-Career-Main11{
    width: 56.25vw;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 93.4px;
}
.Main-Career-Main11 p{
    font-family: Inter;
    font-size: 23px;
}
.Main-Career-Main12{
    margin-bottom: 61px;
}
.Main-Career-Main13{
    width: 38.85vw;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-bottom: 69px;
}
.Main-Career-Main13 p:nth-child(1){
    font-family: Source Code Pro;
    font-size: 18px;
    font-weight: 600;
    color: #CCD0CF;
    margin-bottom: 0px;
    text-align: center;
}
.Main-Career-Main13 p:nth-child(2){
    font-family: Libre Franklin;
    font-size: 64px;
    font-weight: 600;
    color: #FFFFFF;
    margin-top: 0px;
    text-align: center;
}
.Main-Career-Main14{
    width: 66.66vw;
    display: flex;
    justify-content: center;
    align-items: stretch;
    gap: 16px;
    margin-bottom: 34px;
}
.Main-Career-Main14 .Main14-Div{
    width: 21.66vw;
    border-bottom: 2px solid #FFFFFF;
}
.Main-Career-Main14 .Main14-Title p{
    font-family: Rubik,sans-serif;
    font-size: 28px;
    font-weight: bold;
}
.Main-Career-Main14 .Main14-Content{
    margin-bottom: 74px;
    width: 21vw;
}
.Main-Career-Main14 .Main14-Content p{
    font-family: Libre Franklin;
    font-size: 22px;
}
.Main-Career-Main15{
    width: 66.66vw;
    display: flex;
    justify-content: center;
    align-items: stretch;
    gap: 16px;
    margin-bottom: 133.4px;
}
.Main-Career-Main15 .Main15-Div{
    width: 21.66vw;
}
.Main-Career-Main15 .Main15-Title p{
    font-family: Rubik;
    font-size: 28px;
    font-weight: bold;
}
.Main-Career-Main15 .Main15-Content{
    width: 21vw;
    margin-bottom: 74px;
}
.Main-Career-Main15 .Main15-Content p{
    font-family: Libre Franklin;
    font-size: 20px;
}
.Main-Career-Main16{
    margin-bottom: 66px;
}
.Main-Career-Main17{
    border-radius: 20px;
    background-color: #132E35;
    width: 66.66vw;
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: 42px 108px 57px 108px;
    margin-bottom: 41px;
}
.Main-Career-Main17 p:nth-child(1){
    font-family: Source Code Pro;
    font-size: 18px;
    font-weight: 600;
    margin-bottom: 0px;
    color: #CCD0CF;
}
.Main-Career-Main17 p:nth-child(2){
    font-family: Rubik,sans-serif;
    font-size: 55px;
    font-weight: 600;
    margin-top: 0px;
    margin-bottom: 17px;
}
.Main-Career-Main17 p:nth-child(3){
    font-family: Inter;
    font-size: 22px;
    width: 55.41vw;
}
.Main-Career-Main18{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 59px;
    margin-bottom: 66px;
}
.Main-Career-Main18 a{
    text-decoration: none;
    color: #FFFFFF;
    font-family: Rubik;
    font-size: 18px;
    font-weight: 600;
}
.Main-Career-Main18 button{
    padding: 12px 62px 15px 58px;
    border-radius: 20px;
    border: #707070;
    font-family: Rubik;
    font-size: 18px;
    font-weight: 600;
    color: #FFFFFF;
    background-color: #132E35;
}
.Main-Career-Main19{
    margin-bottom: 66.4px;
}
