@import url("https://fonts.googleapis.com/css2?family=Inter:wght@100..900&family=Libre+Franklin:ital,wght@0,100..900;1,100..900&family=Raleway:ital,wght@0,100..900;1,100..900&family=Source+Code+Pro:ital,wght@0,200..900;1,200..900&display=swap");
/* *,
*::before,
*::after {
    box-sizing: border-box;
} */
/* body{
    padding-top: 950px;
} */
.Main-About-Us {
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  /* box-shadow: 0 5px 10px rgba(112, 112, 112, 0.5), 0px 0px 0px 0px rgba(0, 0, 0, 0); */
}
.Main-About-Style {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.Main-About-Us .Second-About-Us {
  width: 60.62vw;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-bottom: 114px;
}
.Second-About-Us p:nth-child(5) {
  margin-top: 100px;
  font-family: Source Code Pro;
  font-size: 14px;
  font-weight: bold;
  color: #ccd0cf;
}
.Second-About-Us p:nth-child(6) {
  font-family: Inter;
  font-size: 28px;
  font-weight: bold;
  margin: 0;
}
.Second-About-Us p:nth-child(7) {
  font-family: Inter;
  font-size: 28px;
  font-weight: bold;
}
.Second-About-Us p:nth-child(8) {
  font-family: Source Code Pro;
  font-size: 18px;
  font-weight: bold;
  color: #ccd0cf;
}
.Second-About-Us p {
  margin-bottom: 17px;
  text-align: center;
}
.Main-About-Us .Image-About-Us {
  height: 562px;
  margin-bottom: 158px;
}
.Image-About-Us .img1 {
  width: 100%;
}
.Vision-Div {
  width: 68vw;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 160px;
  margin-bottom: 230px;
}
.Vision-Div .first-div {
  width: 33vw;
}
.first-div .item1{
  font-family: Source Code Pro;
  font-size: 18px;
  font-weight: bold;
  color: #CCD0CF;
}
.first-div .item2{
  font-family: Inter;
  font-size: 56px;
  font-weight: bold;
}
.text-div > p {
  font-family: Libre Franklin;
  font-size: 22px;
}
.text-div p:nth-child(2) {
  font-family: Libre Franklin;
  font-size: 22px;
}

.Vision-Div .second-div {
  width: 32vw;
  height: 398px;
}
.Mission-Div {
  width: 66.68vw;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 108px;
  margin-bottom: 169px;
}
.Mission-Div .first-Mission-Div {
  display: flex;
  justify-content: center;
  align-items: center;
}
.second-Mission-First p:nth-child(1){
  font-family: Source Code Pro;
  font-size: 18px;
  font-weight: bold;
  color: #CCD0CF;
}
.second-Mission-First p:nth-child(2) {
  font-family: Libre Franklin;
  font-size: 56px;
  font-weight: bold;
}
.second-Mission-First {
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 10px;
  margin-bottom: 0px;
}
.second-Mission-First p:nth-child(1) {
  margin-bottom: 10px;
}
.second-Mission-Second {
  display: flex;
  flex-direction: column;
  gap: 5px;
  width: 632px;
}
.second-Mission-Second p {
  font-family: Libre Franklin;
  font-size: 22px;
}
.Holder-Div {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #132e35;
  margin-bottom: 44px;
}
.Join-Div {
  width: 66.68vw;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 108px;
  margin-top: 74px;
}
.Join-Div-Titles p:nth-child(1) {
  margin-bottom: 10px;
  font-family: Source Code Pro;
  font-size: 18px;
  font-weight: bold;
  color: #ccd0cf;
}
.Join-Div-Titles p:nth-child(2) {
  font-family: Inter;
  font-size: 56px;
  font-weight: bold;
}
.Join-Div-Content p {
  font-family: Libre Franklin;
  font-size: 22px;
  color: #ccd0cf;
}
.Button-button {
  margin-top: 48px;
  margin-bottom: 171px;
  border: 1px solid #989898;
}
.Button-Div .Button-button {
  background-color: white;
  padding: 18px 71px 19px 55px;
  border-radius: 10px;
  font-family: Inter;
  font-size: 18px;
  font-weight: 500;
  color: #2C4A52;
}
.Holder-Div-2 {
  width: 66.67vw;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.First {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 317px;
  border-bottom: 1px solid #707070;
}
.Second {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 317px;
  border-bottom: 1px solid #707070;
}
.Third {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 317px;
  border-bottom: 1px solid #707070;
}
.Third_Logo{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.Second-Paragraph{
  width: 33.4375vw;
}
.Holder-Div-2 div p:nth-child(1) {
  font-family: Source Code Pro;
  font-size: 18px;
  font-weight: bold;
  color: #ccd0cf;
  margin-bottom: 4px;
}
.Holder-Div-2 div p:nth-child(2) {
  font-family: Libre Franklin;
  font-size: 24px;
  font-weight: bold;
  color: #ffffff;
  margin-bottom: 40px;
}
.Holder-Div-2 div p:nth-child(3) {
  font-family: Libre Franklin;
  font-size: 18px;
  color: #ffffff;
  margin-bottom: 29px;
}
.Holder-Div-2 div p:nth-child(4) {
  font-family: Libre Franklin;
  font-size: 16px;
  font-weight: bold;
  color: #69818d;
  margin-bottom: 28px;
}
.Holder-Div-2 hr {
  border-top: 1px solid gray;
}

