@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100..900&family=Libre+Franklin:ital,wght@0,100..900;1,100..900&family=Raleway:ital,wght@0,100..900;1,100..900&family=Source+Code+Pro:ital,wght@0,200..900;1,200..900&display=swap');


.Fourth-Main {
    width: 68vw;
    display: flex;
    justify-content: space-between; /* Changed to space-between */
    gap: 150px;
    background-color: white;
    color: black;
    padding: 67px 200px 106px 105px; /* Ensure padding is applied */
    border-radius: 20px;
    box-sizing: border-box; /* Ensure padding is included in the total width/height */
    margin-bottom: 33.9px;
}

.Fourth-Main1 p:nth-child(1){
    font-family: Source Code Pro;
    font-size: 18px;
    font-weight: bold;
    color: #69818D;
    width: 11.09vw;
    margin-bottom: 0px;
}

.Fourth-Main1 .content {
    font-family: Raleway;
    font-size: 35px;
    font-weight: bold;
    margin-bottom: 0px;
}


.Fourth-Main2{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.Fourth-Main input {
    width: 324px;
    padding: 19px 92px;
    border: 1px solid #707070;
    border-radius: 7px;
    margin-bottom: 7px;
    text-align: center;
    font-family: Raleway;
    font-size: 18px;
    font-weight: bold;
    height: 58px;
}

.Fourth-Main button {
    width: 324px;
    padding: 19px 92px;
    background-color: #2C4A52;
    color: white;
    border: 1px solid #707070;
    border-radius: 7px;
    height: 58px;
}